@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Hide the default spinner arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-wrapper {
    position: relative;
}

#showPasswordBtn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.errorMessage {
    display: none;
    margin-top: 5px;
    color: red;
    font-size: 0.9rem;
}